.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-container > div {
  margin: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.bgColor {
  background-color: #f5f5f5;
}

.content {
  padding: 20px;
}

.divide {
  flex-basis: 300px;
}
